﻿
nav > .nav.nav-tabs {
    border: none;
    color: #fff;
    border-radius: 0;
    border: 1px solid red;
}
.nav-item, .nav-link {
    padding: 5px 20px !important;
    /*cursor: pointer;*/
}


/*nav > div a.nav-item.nav-link,
nav > div a.nav-item.nav-link.active {
    border: none;
    padding: 18px 25px;
    color: #fff;
    border-radius: 0;
}*/
/*.nav-item {
    padding: 10px !important;

}*/
    nav > div a.nav-item.nav-link.active:after {
        content: "";
        position: relative;
        bottom: -60px;
        left: -10%;
        border: 15px solid transparent;
        border-top-color: #e74c3c;
    }

.tab-content {
    background: #fdfdfd;
    line-height: 25px;
    border: 1px solid #ddd;
    border-top: 5px solid #e74c3c;
    border-bottom: 5px solid #e74c3c;
    padding: 30px 25px;
}

nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus {
    border: none;
    background: #e74c3c;
    color: #fff;
    border-radius: 5px ;
    transition: background 0.20s linear;
}
