﻿@page "/exchangerate/{exchangeRateId}"
@*@attribute [Authorize]*@
@using SCC_System.Controllers.ExchangeRate
@using Radzen;
@using SaleModal.DB.Model
@*@inherits ExchangeRateFormBase*@
@inherits ExchangeRateBase

<PageTitle>Edit ExchangeRate</PageTitle>

@if (editrate != null)
{
    <span class="titleHome">ផ្លាស់ប្ដូរអត្រាប្ដូរប្រាក់</span>
    <RadzenFieldset AllowCollapse="false" class="mb-4 titleBtn col-md-8 col-sm-12">
        <div class="row mt-2">
            <div class="col-md-5 col-sm-12  mt-2">
                <RadzenLabel Text="លេខកូដរូបិយប័ណ្ណ"></RadzenLabel>
                <span style="color:red">*</span>
            </div>
            <div class="col-md-7 col-sm-12">
                <RadzenTextBox Style="width:100%" Placeholder="USD" Name="CurrencyCode" @bind-Value="editrate.CurrencyCode" />
                <RadzenRequiredValidator Component="CurrencyCode" Text="CurrencyCode" Popup="true"></RadzenRequiredValidator>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-5 col-sm-12  mt-2">
                <RadzenLabel Text="និមិត្តសញ្ញារូបិយប័ណ្ណ"></RadzenLabel>
                <span style="color:red">*</span>
            </div>
            <div class="col-md-7 col-sm-12">
                <RadzenTextBox Style="width:100%" Placeholder="$" Name="CurrencySymbol" @bind-Value="editrate.CurrencySymbol" />
                <RadzenRequiredValidator Component="CurrencySymbol" Text="CurrencySymbol" Popup="false"></RadzenRequiredValidator>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-5 col-sm-12  mt-2">
                <RadzenLabel Text="អត្រា"></RadzenLabel>
                <span style="color:red">*</span>
            </div>
            <div class="col-md-7 col-sm-12">
                <RadzenNumeric Style="width:100%" Placeholder="4100" Name="e" @bind-Value="editrate.Rate" />
                <RadzenRequiredValidator Component="Rate" Text="Rate" Popup="false"></RadzenRequiredValidator>
            </div>
        </div>


        <div class="mt-4 titleBtn">
            <div class="row mt-3">
                <div class="col-12">
                    <RadzenButton Text="កែប្រែ" Icon="save" Click="OnEditExchange" ButtonType="ButtonType.Submit" />
                    <RadzenButton Text="ចាកចេញ" Click="OnRemove" Icon="exit_to_app" ButtonStyle="ButtonStyle.Danger" />
                </div>
            </div>
        </div>
    </RadzenFieldset>



}
else
{
    <p>Loading...</p>
}

