﻿@page "/newexchangerate"
@using SCC_System.Controllers.ExchangeRate
@using SaleModal.DB.Model
@using Radzen
@inherits ExchangeRateBase
<PageTitle>New ExchangeRate</PageTitle>
<span class="titleHome">បន្ថែមថ្មី</span>

<RadzenTemplateForm TItem="TblExchangeRate" Data="exchangerate" class="col-md-8 col-sm-12">
    <RadzenFieldset AllowCollapse="false" class="mb-3 titleBtn">
        <div class="row">
            <div class="col-md-5 col-sm-12  mt-2">
                <RadzenLabel Text="លេខកូដរូបិយប័ណ្ណ" ></RadzenLabel>
                <span style="color:red">*</span>
            </div>
            <div class="col-md-7 col-sm-12">
                <RadzenTextBox Style="width:100%" Placeholder="USD" Name="CurrencyCode" @bind-Value="exchangerate.CurrencyCode" />
                <RadzenRequiredValidator Component="CurrencyCode" Text="សូមបំពេញលេខកូដរូបិយប័ណ្ណ !!!" Popup="false"></RadzenRequiredValidator>
            </div>
        </div>

        <div class="row mt-1">
            <div class="col-md-5 col-sm-12  mt-2">
                <RadzenLabel Text="និមិត្តសញ្ញារូបិយប័ណ្ណ" ></RadzenLabel>
                <span style="color:red">*</span>
            </div>
            <div class="col-md-7 col-sm-12">
                <RadzenTextBox Style="width:100%"  Placeholder="$" Name="CurrencySymbol" @bind-Value="exchangerate.CurrencySymbol" />
                <RadzenRequiredValidator Component="CurrencySymbol" Text="សូមបំពេញសញ្ញារូបិយប័ណ្ណ !!!" Popup="false"></RadzenRequiredValidator>
            </div>
        </div>

        <div class="row mt-1">
            <div class="col-md-5 col-sm-12  mt-2">
                <RadzenLabel Text="អត្រា" ></RadzenLabel>
                <span style="color:red">*</span>
            </div>
            <div class="col-md-7 col-sm-12 ">
                <RadzenNumeric Style="width:100%" Placeholder="4100" Name="Rate" @bind-Value="exchangerate.Rate" />
                <RadzenRequiredValidator Component="Rate" Text="សូមបំពេញអត្រាប្ដូរប្រាក់ !!!" Popup="false"></RadzenRequiredValidator>
            </div>
        </div>

        <div class="row mt-1">
            <div class="col-md-5 col-sm-12  mt-2">
                <RadzenLabel Text="ប្ដូរថ្ងៃខែឆ្នាំ" ></RadzenLabel>
                <span style="color:red">*</span>
            </div>
            <div class="col-md-7 col-sm-12">
                    <RadzenDatePicker Style="width:100%" Placeholder="dd/mm/yyyy" DateFormat="dd/MM/yyyy" Name="ExchangeDate" @bind-Value="exchangerate.ExchangeDate" />
                <RadzenRequiredValidator Component="ExchangeDate" Text="សូមបំពេញថ្ងៃខែឆ្នាំ !!!" Popup="false"></RadzenRequiredValidator>
            </div>
        </div>

    </RadzenFieldset>
    <div class="mb-3 titleBtn">
        <div class="row">
            <div class="col-12">
                <RadzenButton Text="រក្សាទុក" Icon="save" Click="AddNewExchange" ButtonType="ButtonType.Submit" />
                <RadzenButton Text="ចាកចេញ" Click="OnRemove" Icon="exit_to_app" ButtonStyle="ButtonStyle.Danger" />
            </div>
        </div>
    </div>
</RadzenTemplateForm>