﻿@using SCC_System.Libraries.Tools
<footer class="footer container-fluid pl-30 pr-30" >
    <div class="row" style="position:absolute; bottom:0">
        <div class="col-sm-12">
            <p style="color: #000; font-size: 11pt; font-family: 'Content-Regular'; ">2022 &copy; អភិវឌ្ឍន៍ដោយ ៖ ក្រុមIT02E @Globals.VERSION </p>
        </div>
    </div>
</footer>

@*style="background-color: #479cc8"*@
