﻿

@code{ private async Task BeginSignOut(MouseEventArgs args)
    {
        //await SignOutManager.SetSignOutState();
        //Navigation.NavigateTo("authentication/logout"); 
    }

  }
  <!-- Top Menu Items -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="mobile-only-brand pull-left">
        <div class="nav-header pull-left">
            <div class="logo-wrap">
            </div>
        </div>
        <a id="toggle_nav_btn" class="toggle-left-nav-btn inline-block ml-20 pull-left" href="javascript:void(0);">
             <span style="font-family: 'Content-Regular';font-size: 12pt">ប្រព័ន្ធគ្រប់គ្រងលាងឡាន និងកាហ្វេ1111</span>
        </a>
       <a id="toggle_mobile_nav" class="mobile-only-view" href="javascript:void(0);"><i class="zmdi zmdi-more"></i></a>

    </div>
</nav>
                   
 
