﻿@using Blazored.LocalStorage
@using Radzen
@using SCC_System.Services
@using SCC_System.Controllers
@using SaleModal.DB.Model
@using SCC_System.Controllers.Authentication
@inherits LayoutComponentBase



@*========================================
Notification message
==========================================*@
<RadzenNotification />

@*============================================================*@

<RadzenLayout>
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
            <div class="row justify-content-start align-items-center">
                <div class="col-11 d-flex align-items-center ">
                    <RadzenSidebarToggle Click="@(() => sidebar1Expanded = !sidebar1Expanded)" />
                    <RadzenLabel Text="មជ្ឈមណ្ឌលថែទាំរថយន្តស្តារឃែរ" class="titleSideBar col-11 d-flex align-items-center" />
                </div>
                <div class="col-1 d-flex align-items-center justify-content-end">
                    <div style="display:flex;justify-content:center;">
                        <RadzenIcon Icon="person" Style="margin-top: 7px; color: #e0dada"></RadzenIcon>
                        <RadzenProfileMenu Style="font-family: 'Content-Regular'; color: #e0dada ">
                            <Template>
                                <RadzenLabel Text="@username"> </RadzenLabel>
                            </Template>
                        </RadzenProfileMenu>
                        <RadzenButton Click="OnSingOut" ButtonStyle="ButtonStyle.Danger">SignOut</RadzenButton>
                    </div>
                </div>
            </div>
        </RadzenStack>
    </RadzenHeader>
    <RadzenSidebar @bind-Expanded="@sidebar1Expanded">
        <RadzenPanelMenu>
            @if (permissionlist != null)
                    {
                        @foreach (var list in permissionlist)
                        {
                            <nav class="navbar navbar-dark bg-gray nav">
                                <a class="navbar-brand" style="cursor:pointer" @onclick=@((value)=>OnClickMenu(@list.PerId))>
                                    <i class="@list.Icon" />
                                    @list.Name
                                </a>
                            </nav>
                        } 
                    }           
        </RadzenPanelMenu>
    </RadzenSidebar>
    <RadzenBody>
        <div class="rz-p-4">
            @Body
        </div>
    </RadzenBody>
</RadzenLayout>

@code {
    bool sidebar1Expanded = true;
    protected RadzenBody body0;
    public AuthenticationBase authbase { get; set; }
    [Inject]
    private NavigationManager navigation { get; set; }
    [Inject]
    public AuthenResponse authen { get; set; }

    [Inject]
    private IJSRuntime? Runtime { get; set; }

    [Inject]
    public RoleResponse? rolerespon { get; set; }
    public List<TblPermission>? permissionlist { get; set; }
    public List<TblRolePermission> role = new List<TblRolePermission>();
  

    [Inject]
    public UserResponse user{ get; set; }
    [Inject]
    ILocalStorageService localStorage { get; set; }
    public string username;

    protected RadzenSidebar sidebar0;
    protected void SidebarToggle0Click(dynamic args)
    {
        body0.Toggle();
        sidebar0.Toggle();
    }

    public async void OnClickMenu(int PerId)
    {
        var list = await this.rolerespon.GetPermissionList();
        var path = list.Where(f => f.PerId == PerId).SingleOrDefault();
        navigation.NavigateTo(path.Path);

    }

    public  async void OnSingOut()
    {
        bool result = await Runtime.InvokeAsync<bool>("AlertConfirm", "តើអ្នកចង់ចាកចេញមែនទេ?");
        if (result == true)
        {
            localStorage.RemoveItemAsync("username");
            localStorage.RemoveItemAsync("user");
            navigation.NavigateTo("/login");
        }

    }

    protected override async Task OnInitializedAsync()
    {
        permissionlist = await rolerespon.GetPermissionList();
        this.username = await localStorage.GetItemAsync<string>("username");
        this.role = await this.authen.GetRolePermission();


        //role = role.Where(f => f.RolePerId == authbase.rolid).ToList();
        //foreach (var item in role)
        //{
        //    // OrderDetails = OrderDetails.Where(f => f.ProId != orderDetail.ProId).ToList();          //remove item from orderDetail
        //    //  OrderDetails.Add(orderDetail);
        //    permissionlist = permissionlist.Where(f => f.PerId!=item.PerId).ToList();
        //    //permissionlist.Add(permissionlist);
        //} 


    }

    }



