﻿@using SaleModal.DB.Model
@using SaleModal.Services
@using SCC_System.Controllers.RolePermission
@inherits ListRolePermissionBase

<RadzenPanelMenu Style="width: 100%; font-family: 'Content-Regular'; font-size: 8pt ">

</RadzenPanelMenu>

   @* @foreach (var list in permissionlist)
    {
        @*<RadzenPanelMenuItem Text="@list.CategoryNameEn" @onclick=@((value)=>OnClickCate(@list.CateId)) />
        <nav class="navbar navbar-dark bg-gray" >
            <a class="navbar-brand"  @onclick=@((value)=>OnClickMenu(@list.PerId))>@list.Name</a>
        </nav>
    }*@

    @* <RadzenPanelMenuItem Text="ផ្នាំងលក់ទំនិញ" Path="sale" Icon="shopping_cart"></RadzenPanelMenuItem>
    <RadzenPanelMenuItem Text="របាយការណ៍" Path="salereport" Icon="summarize">

    </RadzenPanelMenuItem>
    <RadzenPanelMenuItem Text="ស្តុក" Icon="inventory">
    <RadzenPanelMenuItem Text="ផលិតផល" Path="productlist"></RadzenPanelMenuItem>
    <RadzenPanelMenuItem Text="បញ្ចូលទំនិញ" Path="import"></RadzenPanelMenuItem>
    </RadzenPanelMenuItem>
    <RadzenPanelMenuItem Text="បុគ្គលិក" Icon="group">
    <RadzenPanelMenuItem Text="ព័ត៌មានបុគ្គលិក"  Path="employee"></RadzenPanelMenuItem>
    <RadzenPanelMenuItem Text="គណនីប្រើប្រាស់"  Path="account" ></RadzenPanelMenuItem>
    <RadzenPanelMenuItem Text="កំណត់សិទ្ធិប្រើប្រាស់"  Path="userRole" ></RadzenPanelMenuItem>
    </RadzenPanelMenuItem>
    <RadzenPanelMenuItem Text="Setting" Icon="settings">
    <RadzenPanelMenuItem Text="អត្រាប្តូរប្រាក់"  Path="exchangerate"></RadzenPanelMenuItem>
    <RadzenPanelMenuItem Text="បញ្ចុះតម្លៃ"  Path="discount" ></RadzenPanelMenuItem>
    </RadzenPanelMenuItem>
    <RadzenPanelMenuItem Text="Login" Icon="account_circle" Path="login"></RadzenPanelMenuItem>
    *@
