﻿@page "/product/info"
@using SCC_System.Controllers.Product
@using SCC_System.Pages.Product
@using Radzen
@using SaleModal.DB.Model
@inherits AddProductBase
<PageTitle>Add Products</PageTitle>



<RadzenCard class="col-12">
    <span class="titleHome">បន្ថែមទំនិញថ្មី</span>
    <RadzenTemplateForm TItem="TblProducts" Data="Product" class="col-12 col-sm-12">
        <RadzenFieldset AllowCollapse="false" class="mb-2 titleBtn">
            <div class="row">
                <div class="col-md-8 col-sm-12 ">
                    <div class="row">
                        <div class="col-md-5 col-sm-12">
                            <RadzenLabel Text="ឈ្មោះទំនិញ"></RadzenLabel>
                            <span style="color:red">*</span>
                        </div>
                        <div class="col-md-7 col-sm-12">
                            <RadzenTextBox Style="width:100%" Placeholder="ឈ្មោះទំនិញ..." Name="ProductNameKh" @bind-Value="Product.ProductNameKh" />
                            <RadzenRequiredValidator Component="ProductNameKh" Text="សូមបំពេញគោត្តនាម !!!" Popup="false"></RadzenRequiredValidator>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-3 ">
                <div class="col-md-8 col-sm-12">
                    <div class="row">
                        <div class="col-md-5 col-sm-12">
                            <RadzenLabel Text="ឈ្មោះ​ឡាតាំង"></RadzenLabel>
                            <span style="color:red">*</span>
                        </div>
                        <div class="col-md-7 col-sm-12">
                            <RadzenTextBox Style="width:100%" Placeholder="ឈ្មោះ​ឡាតាំង..." Name="ProductNameEn" @bind-Value="Product.ProductNameEn" />
                            <RadzenRequiredValidator Component="ProductNameEn" Text="សូមបំពេញឈ្មោះ​ឡាតាំង !!!" Popup="false"></RadzenRequiredValidator>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-3 ">
                <div class="col-md-8 col-sm-12">
                    <div class="row">
                        <div class="col-md-5 col-sm-12">
                            <RadzenLabel Text="ប្រភេទទំនិញ"></RadzenLabel>
                            <span style="color:red">*</span>
                        </div>
                        <div class="col-md-7 col-sm-12">
                            <RadzenDropDown Data="@Categories"
                                            AllowFiltering="true"
                                            Style="width:100%"
                                            ValueProperty="CateId"
                                            TextProperty="CategoryNameEn" @bind-Value="Product.CateId" />
                            <RadzenRequiredValidator Text="សូមជ្រើសរើសប្រភេទទំនិញ !!!" Popup="false"></RadzenRequiredValidator>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-2 ">
                <div class="col-md-8 col-sm-12">
                    <div class="row">
                        <div class="col-md-5 col-sm-12">
                            <RadzenLabel Text="តម្លៃរាយ"></RadzenLabel>
                            <span style="color:red">*</span>
                        </div>
                        <div class="col-md-7 col-sm-12">
                            <RadzenNumeric Style="width:100%" Placeholder="តម្លៃរាយ..." Name="Price" @bind-Value="Product.Price" />
                            <RadzenRequiredValidator Component="Price" Text="សូមបំពេញតម្លៃទំនិញរាយ !!!" Popup="false"></RadzenRequiredValidator>
                        </div>
                    </div>
                </div>
            </div>

        @*    <div class="row mt-3 ">
                <div class="col-md-8 col-sm-12">
                    <div class="row">
                        <div class="col-md-5 col-sm-12">
                            <RadzenLabel Text="សាយ"></RadzenLabel>
                        </div>
                        <div class="col-md-7 col-sm-12">
                            <RadzenTextBox Style="width:100%" Placeholder="size s,m,l..." Name="Size" @bind-Value="Product.Size" />
                            <RadzenRequiredValidator Component="Size" Text="សូមបំពេញសាយ !!!" Popup="false"></RadzenRequiredValidator>
                        </div>
                    </div>
                </div>
            </div>*@

            <div class="row mt-3 ">
                <div class="col-md-8 col-sm-12">
                    <div class="row">
                        <div class="col-md-5 col-sm-12">
                            <RadzenLabel Text="រូបភាព"></RadzenLabel>
                            @*<span style="color:red">*</span>*@
                        </div>
                        <div class="col-md-7 col-sm-12">
                            <InputFile OnChange="UploadImg" />
                            <img src="@Product.Url" />
                            @*<InputFile OnChange="@UploadImg" />*@
                            @*<img src="@imageData" />*@

                        </div>
                    </div>
                </div>
            </div>

        </RadzenFieldset>
        <div class="mb-3 titleBtn">
            <div class="row">
                <div class="col-12">
                    <RadzenButton Text="រក្សាទុក" Icon="save" Click="AddNewProduct" ButtonType="ButtonType.Submit" />
                    <RadzenButton Text="ចាកចេញ" Click="onBtnExitNewProd" Icon="exit_to_app" ButtonStyle="ButtonStyle.Danger" />
                </div>
            </div>
        </div>

    </RadzenTemplateForm>
</RadzenCard>


