﻿@page "/productlist"
@attribute [Authorize]
@using Radzen
@using SCC_System.Controllers.Product
@using SaleModal.DB.Model
 

@inherits ProductListBase

<PageTitle>Products</PageTitle>

<RadzenCard>
    <div class="row mt-2 p-2">
        <span class="titleHome">តារាងព័ត៌មានទំនិញ</span>
        <div class="col-md-6 col-sm-12 d-flex flex-row titleBtn justify-content-start ">
            <RadzenTextBox Placeholder="ឈ្មោះឡាតាំង, ប្រភេទ..."  Style="margin:2px;" Change="onClickSearch" Name="Search" @bind-Value="search" class="col-md-8 col-sm-10 mt-1" />
            <RadzenButton Text="ស្វែងរក" Icon="search" ButtonStyle="ButtonStyle.Secondary"  class="mt-1 col-md-3 col-sm-2" Style="width:150px;" Click="onClickSearch"  />
        </div>

        <div class="col-md-6 col-sm-12 d-flex flex-row titleBtn justify-content-end mb-1">
            <RadzenButton Text="បន្ថែមថ្មី" Icon="add_circle_outline" ButtonStyle="ButtonStyle.Primary" Click="onBtnAddProduct" class="mt-1 col-sm-3 col-md-3" />
            <RadzenButton Text="ទំនិញចូល" Icon="drive_file_move_outline" ButtonStyle="ButtonStyle.Success" Click="onBtnNewImport" class="mt-1 col-md-3 col-sm-3" />
            <RadzenButton Text="ប្រភេទទំនិញ" Icon="info_outline" ButtonStyle="ButtonStyle.Primary" Click="onBtnNewCategory" class="mt-1 col-md-3 col-sm-3" />
            <RadzenButton Text="កំណត់ឡើងវិញ" Icon="refresh" ButtonStyle="ButtonStyle.Info" Click="onBtnRefresh" class="mt-1 col-md-3 col-sm-3" />
        </div>

    </div>

    <div class="table-responsive">
        <table class="table titleBtn table table-hover">
            <thead>
                <tr>
                    <th>កូដ</th>
                    <th>ឈ្មោះទំនិញ</th>
                    <th>ឈ្មោះឡាតាំង</th>
                    <th>ប្រភេទ</th>
                    <th>តម្លៃរាយ</th>
                    @*<th>សាយ</th>*@
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                @if (ProductList == null)
                {
                    <span>Loading.....</span>
                }
                else
                {
                    foreach (var item in ProductList)
                    {
                        <tr>
                            @*<td>@item.ProId</td>*@
                            <td>@(ProductList.IndexOf(item) + 1)</td>
                            <td>@item.ProductNameKh</td>
                            <td>@item.ProductNameEn</td>
                            <td>@item.CategoryNameEn</td>
                            <td>@item.Price</td>
                            @*<td>@item.Size</td>*@
                            <td style="width:10%">
                                <a title="Edit" href="/EditProduct/@item.ProId" class="btn btn-warning btn-sm mr-2"><i class=" 	fas fa-edit" /></a>
                                <button title="Delete" class="btn btn-danger btn-sm" @onclick="()=>DeleteProduct(item.ProId)"><i class="fa fa-trash" /></button>
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</RadzenCard>