﻿@page "/stocklist"
@using Radzen
@using SCC_System.Controllers.Stock
@using SaleModal.DB.Model
@inherits StockBase
<PageTitle>StockList</PageTitle>

<div class="row col-12">
    <div class="row mt-2 p-2">
        <span class="titleHome col-sm-12">ទំនិញទិញចូល</span>
        <div class="col-12 col-sm-12 d-flex flex-row titleBtn justify-content-end mt-1​">
            @*<RadzenButton Text="បន្ដែមថ្មី" Icon="add_circle_outline" ButtonStyle="ButtonStyle.Primary" Click="onNewStcok" class="mt-1" Style="width:150px;" />*@
            <RadzenButton Text="ទំនិញចេញ" Icon="drive_file_move_outline" ButtonStyle="ButtonStyle.Success" Click="onAddOutStcok" class="mt-1" />
            <RadzenButton Text="កំណត់ឡើងវិញ" Icon="refresh" ButtonStyle="ButtonStyle.Info" Click="onBtnRefresh" class="mt-1  ml-1" />
        </div>
    </div>

    <div class="col-12">
        <RadzenTemplateForm TItem="TblStock" Data="stock" class="col-12 col-sm-12">
            <RadzenFieldset AllowCollapse="false" class="mb-2 titleBtn">
                <div class="row">
                    <div class="col-12 col-sm-12 ">
                        <div class="row">
                            <div class="col-4">
                                <div>
                                    <RadzenLabel Text="ឈ្មោះទំនិញ"></RadzenLabel>
                                    <span style="color:red">*</span>
                                </div>
                                <div>
                                    <RadzenTextBox Style="width:100%; cursor:pointer" Placeholder="ឈ្មោះទំនិញ..." Name="ProNameKh" @bind-Value="stock.ProNameKh" />
                                    <RadzenRequiredValidator Component="ProNameKh" Text="សូមបំពេញទំនិញ !!!" Popup="false"></RadzenRequiredValidator>
                                </div>
                            </div>

                            <div class="col-4">
                                <div>
                                    <RadzenLabel Text="ឈ្មោះ​ទំនិញអង់គ្លេស"></RadzenLabel>
                                    <span style="color:red">*</span>
                                </div>
                                <div>
                                    <RadzenTextBox Style="width:100%" Placeholder="ទំនិញអង់គ្លេស..." Name="ProNameEn" @bind-Value="stock.ProNameEn" />
                                    <RadzenRequiredValidator Component="ProNameEn" Text="ទំនិញអង់គ្លេស!!!" Popup="false"></RadzenRequiredValidator>
                                </div>
                            </div>

                            <div class="col-4">
                                <div>
                                    <RadzenLabel Text="ចំនួន"></RadzenLabel>
                                    <span style="color:red">*</span>
                                </div>
                                <div>
                                    <RadzenNumeric Style="width:100%" Placeholder="ចំនួន..." Name="Qty" @bind-Value="stock.Qty" />
                                    <RadzenRequiredValidator Component="Qty" Text="ចំនួន!!!" Popup="false"></RadzenRequiredValidator>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-12 col-sm-12 ">
                        <div class="row">
                            <div class="col-4">
                                <div>
                                    <RadzenLabel Text="ឯកតា"></RadzenLabel>
                                    <span style="color:red">*</span>
                                </div>
                                <div>
                                    <RadzenTextBox Style="width:100%" Placeholder="ឯកតា ex: kg" Name="Unit" @bind-Value="stock.Unit" />
                                    <RadzenRequiredValidator Component="Unit" Text="ឯកតា ex: kg!!!" Popup="false"></RadzenRequiredValidator>
                                </div>
                            </div>

                            <div class="col-4">
                                <div>
                                    <RadzenLabel Text="តម្លៃរាយ"></RadzenLabel>
                                    <span style="color:red">*</span>
                                </div>
                                <div>
                                    <RadzenNumeric Style="width:100%" Placeholder="តម្លៃ/ឯកតា" Name="Price" @bind-Value="stock.Price" />
                                    <RadzenRequiredValidator Component="Price" Text="តម្លៃ/ឯកតា!!!" Popup="false"></RadzenRequiredValidator>
                                </div>
                            </div>

                            <div class="col-4">
                                <div>
                                    <RadzenLabel Text="តម្លៃសរុប"></RadzenLabel>
                                    <span style="color:red">*</span>
                                </div>
                                <div>
                                    <RadzenNumeric Style="width:100%" Placeholder="តម្លៃសរុប" Name="Amount" @bind-Value="stock.Amount" />
                                    <RadzenRequiredValidator Component="Amount" Text="តម្លៃសរុប!!!" Popup="false"></RadzenRequiredValidator>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-12 col-sm-12">
                        <div class="row">
                            <div class="col-4">
                                <div class="">
                                    <RadzenLabel Text="ថ្ងៃខែទិញទំនិញចូល"></RadzenLabel>
                                    <span style="color:red">*</span>
                                </div>
                                <div class="">
                                    <RadzenDatePicker @bind-Value="stock.ImportDate" DateFormat="dd-MM-yyyy" Name="ImportDate" Style="width:100%" />
                                    <RadzenRequiredValidator Component="ImportDate" Text="ទំនិញចូល !!!" Popup="false"></RadzenRequiredValidator>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="mt-2 titleBtn">
                    <div class="row">
                        <div class="col-12">
                            <RadzenButton Text="រក្សាទុក" Icon="save" Click="AddNewStock" ButtonType="ButtonType.Submit" />
                            <RadzenButton Text="ចាកចេញ" Click="ExitNewStock" Icon="exit_to_app" ButtonStyle="ButtonStyle.Danger" />
                        </div>
                    </div>
                </div>
            </RadzenFieldset>

        </RadzenTemplateForm>
    </div>

    <div class="col-12 col-sm-12">
    <RadzenCard class="col-sm-12">
    <div class="table-responsive">
        <table class="table titleBtn table table-hover">
            <thead>
                <tr>
                    <th>កូដ</th>
                    <th>ឈ្មោះទំនិញខ្មែរ</th>
                    <th>ឈ្មោះឡាតាំង</th>
                    <th>ចំនួន</th>
                    @*<th>គិតជា</th>*@
                    <th>តម្លៃឯកតា</th>
                    <th>តម្លៃសរុប</th>
                    <th>ទិញចូល</th>
                    <th>បញ្ចូល</th>
                    <th>បញ្ចូលដោយ</th>
                </tr>
            </thead>
            <tbody>
               
                    @if (lstStock != null)
                    {
                        foreach (var item in lstStock)
                            {
                                qty = Convert.ToInt32(item.Qty) - Convert.ToInt32(stockout.Qty);
                                <tr>
                            <td>@item.StId</td>
                            <td>@item.ProNameKh</td>
                            <td>@item.ProNameEn</td>
                            <td>@item.Qty @item.Unit</td>
                            <td>@item.Price</td>
                            <td>@item.Amount</td>
                            <td>@item.ImportDate.ToString("dd/MM/yyyy")</td>
                            <td>@item.InsertDate.ToString("dd/MM/yyyy")</td>
                            <td>@item.UserId</td>
                        </tr>
                    }
                    }
                    
            </tbody>
        </table>
    </div>
</RadzenCard>
</div>

</div>

