﻿@page "/report"
@attribute [Authorize]
@using Radzen
@using SCC_System.Controllers.SaleReports
@using SaleModal.DB.Model
@using SCC_System.Pages.SaleReport
@inherits SaleReportPrintBase

@*<button class="btn btn-info" onclick="PrintSaleReport()">Print</button>*@

<div class="container-fluid titleBtn"  id="ReportSale">

    <div class="row  mt-3">
        <div class="col-12">

            <div class="row">
                <div class="d-flex justify-content-center">
                    <RadzenImage Path="image/scc_logo.png" Style="width:130px !important;" />
                </div>
            </div>
        </div><Sale />
    </div>

    @*==============================================================
    Report Table
    ==============================================================*@

    <div class="row">
        <div class="col-12 pt-2" >
            <div class="table-responsive">
                <table class="table table-bordered table-hover" style="border:1px solid black;">

                    <thead>
                        <tr>
                            <th>អ្នកលក់</th>
                            <th>ឈ្មោះឡាតាំង</th>
                            <th>ឈ្មោះខ្មែរ</th>
                            <th>ថ្ងៃខែឆ្នាំលក់</th>
                            <th>តម្លៃ</th>
                            <th>ចំនួន</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (salereportresult != null)
                        {
                            foreach (var item in salereportresult)
                            {
                                <tr>
                                    <td>@item.saler</td>
                                    <td>@item.product_name_en</td>
                                    <td>@item.product_name_kh</td>
                                    <td>@item.order_date.Value.ToShortDateString()</td>
                                    <td>@item.price</td>
                                    <td>@item.qty</td>

                                </tr>

                            }
                        }
                        <tr>
                            <td colspan="4" class="text-right">សរុប</td>
                            <td>$@salereportresult.Sum(f => f.price)</td>
                            <td>@salereportresult.Sum(f => f.qty)</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>
</div>

@*@code {
    [Inject]
    public IJSRuntime JS { get; set; }
    public void onBtnPrint()
    {
        //JS.InvokeVoidAsync("print" );
        JS.InvokeAsync<object>("open", "/salereport/print", "_blank");
    }
    }*@