﻿@page "/newcategory"
@attribute [Authorize]
@using SaleModal.DB.Model
@using SCC_System.Controllers.Category
@using Radzen
@inherits AddCategoryBase


<PageTitle>Add Category</PageTitle>
<span class="titleHome">បន្ថែមប្រភេទទំនិញ</span>

<RadzenCard class="col-md-8 col-sm-12">
    <RadzenTemplateForm TItem="TblCategory" Data="NewCategory" >
    <RadzenFieldset AllowCollapse="false" class="mb-3 titleBtn">
          <div class="row mt-0 ">
            <div class="col-12">
                <div class="row">
                    <div class="col-md-5 col-sm-12">
                        <RadzenLabel Text="ឈ្មោះឡាតាំង"></RadzenLabel>
                        <span style="color:red">*</span>
                    </div>
                    <div class="col-md-7 col-sm-12">
                        <RadzenTextBox Style="width:100%" Placeholder="ឈ្មោះឡាតាំង..." Name="CategoryNameEn" @bind-Value="NewCategory.CategoryNameEn"/>
                        <RadzenRequiredValidator Component="CategoryNameEn" Text="សូមបំពេញឈ្មោះឡាតាំង !!!" Popup="false"></RadzenRequiredValidator>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-2 ">
            <div class="col-12">
                <div class="row">
                    <div class="col-md-5 col-sm-12">
                        <RadzenLabel Text="ឈ្មោះខ្មែរ"></RadzenLabel>
                        <span style="color:red">*</span>
                    </div>
                    <div class="col-md-7 col-sm-12">
                        <RadzenTextBox Style="width:100%" Placeholder="ឈ្មោះខ្មែរ..." Name="CategoryNameKh" @bind-Value="NewCategory.CategoryNameKh"/>
                        <RadzenRequiredValidator Component="CategoryNameKh" Text="សូមបំពេញឈ្មោះខ្មែរ !!!" Popup="false"></RadzenRequiredValidator>
                    </div>
                </div>
            </div>
        </div>

    </RadzenFieldset>
       <div class="mb-3 titleBtn">
        <div class="row">
            <div class="col-12">
                <RadzenButton Text="រក្សាទុក" Icon="save" Click="AddNewCategory" ButtonType="ButtonType.Submit" />
                <RadzenButton Text="ចាកចេញ" Click="onBtnExitCategory" Icon="exit_to_app" ButtonStyle="ButtonStyle.Danger"/>
            </div>
        </div>
    </div>
</RadzenTemplateForm>
</RadzenCard>
