﻿@page "/newimport"
@using SCC_System.Controllers.Import
@using SCC_System.Pages.Import
@using Radzen
@using SaleModal.Classes
@using SaleModal.DB.Model
@inherits ImportBase

<PageTitle>Add Stock</PageTitle>


<span class="titleHome">បន្ថែមថ្មី</span>
<RadzenTemplateForm TItem="ImportPost" Data="impPro" class="col-md-8 col-sm-12">
    <RadzenFieldset AllowCollapse="false" class="mb-3 titleBtn">
        <div class="row mt-0 ">
            <div class="col-md-8 col-sm-12">
                <div class="row">
                    <div class="col-md-5 col-sm-12">
                        <RadzenLabel Text="ឈ្មោះទំនិញ"></RadzenLabel>
                        <span style="color:red">*</span>
                    </div>
                    <div class="col-md-7 col-sm-12">
                        <RadzenDatePicker Style="width:100%" Placeholder="ឈ្មោះទំនិញ..." Name="ImpDate"
                                          @bind-Value="impPro.ImpDate" />
                        <RadzenRequiredValidator Component="ImpDate" Text="សូមបំពេញឈ្មោះទំនិញ !!!" Popup="false" />
                    </div>
                </div>
            </div>

            <div class="col-md-8 col-sm-12">
                <div class="row">
                    <div class="col-md-5 col-sm-12">
                        <RadzenLabel Text="Date import"></RadzenLabel>
                        <span style="color:red">*</span>
                    </div>
                    <div class="col-md-7 col-sm-12">
                     
                                <RadzenDatePicker Style="width:100%" Placeholder="ឈ្មោះទំនិញ..." Name="ImpInsertDate"
                                           @bind-Value="impPro.ImpInsertDate" />
                                <RadzenRequiredValidator Component="ImpInsertDate" Text="សូមបំពេញឈ្មោះទំនិញ !!!" Popup="false" />
                         

                    </div>
                </div>
            </div>

        </div>



        @*         <div class="row">
        <div class="col-5">
        <RadzenLabel Text="ឈ្មោះ​ឡាតាំង"></RadzenLabel>
        <span style="color:red">*</span>
        </div>
        <div class="col-7">
        @foreach (var item in impPro.details)
        {
        <RadzenTextBox Style="width:100%" Placeholder="ឈ្មោះ​ឡាតាំង..." Name="ProNameEn" @bind-Value="item.ProNameEn" />
        <RadzenRequiredValidator Component="ProNameEn" Text="សូមបំពេញឈ្មោះ​ឡាតាំង !!!" Popup="false"></RadzenRequiredValidator>
        }
        </div>
        </div>
        *@


    </RadzenFieldset>
    <div class="mb-3 titleBtn">
        <div class="row">
            <div class="col-12">
                <RadzenButton Text="Save" Icon="save" Click="OnNewImport" ButtonType="ButtonType.Submit" />
                <RadzenButton Text="Exit" Click="onBtnExitImport" Icon="exit_to_app" ButtonStyle="ButtonStyle.Danger" />
            </div>
        </div>
    </div>

</RadzenTemplateForm>

