﻿ @page "/discount"
@*@attribute [Authorize]*@
@using SaleModal.Services
@using SCC_System.Controllers.Discount
@using Radzen
@inherits DiscountBase

<PageTitle>ListDisco</PageTitle>
<span class="titleHome">ការបញ្ចុះតម្លៃ</span>
<div class="col-12 col-sm-12 mt-2 ">
    <RadzenFieldset AllowCollapse="false" class="mb-3 titleBtn col-md-8 col-sm-12">
        <RadzenButton Text="បន្ថែមថ្មី" Icon="add_circle_outline" ButtonStyle="ButtonStyle.Primary" Click="ToAddNew" />
        <RadzenButton Text="កំណត់ឡើងវិញ" Icon="refresh" ButtonStyle="ButtonStyle.Info" Click="onBtnRefresh" />
        <div class="table-responsive">
            <table class="table titleBtn table table-hover">
                <thead>
                    <tr>
                        <th>ល.រ</th>
                        <th>ចំនួន</th>
                        <th style="width:100px;">ភាគរយ</th>
                        <th>ចាប់ផ្ដើម</th>
                        <th>បញ្ចប់</th>
                        <th style="width:100px;">សកម្មភាព</th>
                    </tr>
                </thead>

                <tbody>
                    @if (disList == null)
                    {
                        <p>Data is loading..</p>
                    }
                    else
                    {
                        foreach (var item in disList)
                        {
                            <tr>
                                <td>@(disList.IndexOf(item) + 1)</td>
                                @*<td>@item.DisId</td>*@
                                <td>@item.Amount</td>
                                <td style="width:100px;">@item.DisPercent</td>
                                <td> @item.DisStartDate.Value.ToShortDateString()</td>
                                <td>@item.DisEndDate.Value.ToShortDateString()</td>
                                <td style="width:100px;">
                                    <a href="/editdiscount/@item.DisId" class="btn btn-warning btn-sm mr-2"><i class="fas fa-edit" /></a>
                                    <button class="btn btn-danger btn-sm" @onclick="()=>DisableDiscount(item.DisId)"><i class="fa fa-trash" /></button>
                                </td>
                            </tr>

                        }
                    }

                </tbody>
            </table>
        </div>
    </RadzenFieldset>
</div>

