﻿@page "/edituserRole/{roleperId}"
@attribute [Authorize]
@using Radzen
@using SaleModal.DB.Model
@using SCC_System.Controllers.RolePermission
@inherits EditRolePermissionBase

<PageTitle>Edit Role Permission</PageTitle>
<span class="titleHome">កែប្រែសិទ្ធិប្រើប្រាស់</span>
@if (rolepermission != null)
{
    <RadzenCard class="col-md-8 col-sm-12">
    <RadzenFieldset AllowCollapse="false" class="mb-3 titleBtn">
        <div class="row mt-0 ">
            <div class="col-12">
                <div class="row">
                    <div class="col-md-5 col-sm-12">
                        <RadzenLabel Text="សិទ្ធិអ្នកប្រើប្រាស់"></RadzenLabel>
                        <span style="color:red">*</span>
                    </div>
                    <div class="col-md-7 col-sm-12">
                        <RadzenDropDown Style="width:100%"
                                        Data="@roleList"
                                        AllowFiltering="true"
                                        ValueProperty="RoleId"
                                        TextProperty="RoleName" @bind-Value="rolepermission.RoleId" />
                        <RadzenRequiredValidator Text="សូមជ្រើសរើសសិទ្ធិអ្នកប្រើប្រាស់ !!!" Popup="false"></RadzenRequiredValidator>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-0 ">
             <div class="col-12">
                    <div class="row">
                        <div class="col-md-5 col-sm-12">
                            <RadzenLabel Text="កំណត់ការប្រើប្រាស់"></RadzenLabel>
                            <span style="color:red">*</span>
                        </div>
                        <div class="col-md-7 col-sm-12">
                            <RadzenDropDown Style="width:100%"
                                            Data="@permissionList"
                                            AllowFiltering="true"
                                            ValueProperty="PerId"
                                            TextProperty="Name" @bind-Value="rolepermission.PerId" />
                            <RadzenRequiredValidator Text="សូមកំណត់ការប្រើប្រាស់ !!!" Popup="false"></RadzenRequiredValidator>
                        </div>
                    </div>
                </div>
        </div>


    </RadzenFieldset>
    <div class="mb-3 titleBtn">
        <div class="row">
            <div class="col-12">
                <RadzenButton Text="កែប្រែ" Icon="save" ButtonStyle="ButtonStyle.Primary" Click="OnEditUserRole" ButtonType="ButtonType.Submit" />
                <RadzenButton Text="ចាកចេញ" Click="onBtnExitUserRole " Icon="exit_to_app" ButtonStyle="ButtonStyle.Danger" />
            </div>
        </div>
    </div>

</RadzenCard>
}
else
{
      <p>Loading.......</p>
}
