﻿@page "/edituser/{userId}"
@attribute [Authorize]
@using SCC_System.Controllers.User
@using SCC_System.Pages.Users
@using SaleModal.DB.Model
@using SCC_System.Utilities
@using Radzen
@inherits EditUserBase

<PageTitle>Edit Users</PageTitle>
<span class="titleHome">កែប្រែអ្នកប្រើប្រាស់</span>

@if (User != null)
{
    <RadzenCard class="col-md-10 col-sm-12">
        <RadzenFieldset AllowCollapse="false" class="mb-3 titleBtn">
            <div class="row mt-0 ">
                <div class="col-md-6 col-sm-12">
                    <div class="row">
                        <div class="col-md-5 col-sm-12">
                            <RadzenLabel Text="ឈ្មោះគណនី"></RadzenLabel>
                            <span style="color:red">*</span>
                        </div>
                        <div class="col-md-7 col-sm-12">
                            <RadzenTextBox Style="width:100%" Placeholder="ឈ្មោះគណនី..." Name="UserName" @bind-Value="User.Username" />
                            <RadzenRequiredValidator Component="UserName" Text="សូមបំពេញឈ្មោះគណនី !!!" Popup="false"></RadzenRequiredValidator>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="row">
                        <div class="col-md-5 col-sm-12 mt-2">
                            <RadzenLabel Text="សិទ្ធិប្រើប្រាស់"></RadzenLabel>
                            <span style="color:red">*</span>
                        </div>
                        <div class="col-md-7 col-sm-12">
                            <RadzenDropDown Style="width:100%"
                                        Data="@Roleslists"
                                        AllowFiltering="true"
                                        ValueProperty="RoleId"
                                        TextProperty="RoleName" @bind-Value="User.RoleId" />
                            <RadzenRequiredValidator Text="សូមបំពេញសិទ្ធិប្រើប្រាស់ !!!" Popup="false"></RadzenRequiredValidator>
                        </div>
                    </div>
                </div>

            </div>


            <div class="row mt-2">
                <div class="col-md-6 col-sm-12">
                    <div class="row">
                        <div class="col-md-5 col-sm-12">
                            <RadzenLabel Text="លេខសម្ងាត់"></RadzenLabel>
                            <span style="color:red">*</span>
                        </div>
                        <div class="col-md-7 col-sm-12">
                            <RadzenPassword Style="width:100%" Placeholder="លេខសម្ងាត់..." Name="PassWord" @bind-Value="User.Password" />
                            <RadzenRequiredValidator Component="PassWord" Text="សូមបំពេញលេខសម្ងាត់ !!!" Popup="false"></RadzenRequiredValidator>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="row">
                        <div class="col-md-5 col-sm-12 mt-2">
                            <RadzenLabel Text="អ៊ីម៉ែល"></RadzenLabel>
                        </div>
                        <div class="col-md-7 col-sm-12">
                            <RadzenTextBox Style="width:100%" Placeholder="អ៊ីម៉ែល..." Name="Email" @bind-Value="User.Email" />
                            <RadzenEmailValidator Component="Email" Text="សូមបំពេញអ៊ីម៉ែល !!!" Popup="false"></RadzenEmailValidator>
                        </div>
                    </div>
                </div>

            </div>

        </RadzenFieldset>
        <div class="mb-3 titleBtn">
            <div class="row">
                <div class="col-12">
                    <RadzenButton Text="កែប្រែ" Icon="save" ButtonStyle="ButtonStyle.Primary" Click="SaveUser" ButtonType="ButtonType.Submit" />
                    <RadzenButton Text="ចាកចេញ" Click="onBtnExitUser " Icon="exit_to_app" ButtonStyle="ButtonStyle.Danger" />
                </div>
            </div>
        </div>
    </RadzenCard>

}
else
{
    <p>Loading.......</p>
}



